#btn {
    margin: 10px 0;
    height: 30px;
    background-color: rgb(236, 188, 30);
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

h1 {
    font-family: sans-serif;
}

/* #username {
    font-weight:bold
} */